<head>
    <meta charset="utf-8">
    <title>Delegate Hypernovae</title>
    <meta name="author" content="delegate hypernovae">
    <meta name="keywords" content="delegate hypernovae">
    <meta name="description" content="delegate hypernovae">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="apple-touch-icon" sizes="180x180" href="img/logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/logo.png">

    <!-- CSS -->
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css" />

    <link rel="stylesheet" type="text/css" href="css/basic.css" />
    <link rel="stylesheet" type="text/css" media="only screen and (max-width: 1024px)" href="css/mobile.css" />


    <!--JavaScript-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/script.js" type="text/javascript"></script>
</head>