<h1><span class="glcolor">Hypernovae</span> -plural for hypernova</h1>
<p>Hypernovae are undoubtedly ferocious, they are also incredibly rare and we’ve only seen a few dozen examples in surveys of the cosmos completed over the past few decades. There are so few known that astronomers even have a tough time even classifying
    them, sometimes calling them hypernovae, sometimes superluminous supernovae and sometimes referring to them as various subclassifications of regular supernova. With so little information, scientists even struggle to understand how they form and what
    makes them so powerful.
</p>
<a target="_blank" href="https://www.space.com/how-to-make-a-hypernova-explosion.html">Source</a>