<h1>Community <span class="glcolor">Contributions</span></h1>
<ul>
    <p style="font-weight:600">
    </p>
    <a href="https://barkers.io" target="_blank">
        <li>Advisor at bARK community</li>
    </a>
    <li>Desktop Wallet with Side Ledger Protocol</li>
    <li>More coming soon.</li>
</ul>