<h1>Delegate <span class="glcolor">Hypernovae</span></h1>
<p>Delegate Hypernovae is a delegate on the Ark Public Network.<br> The mission for delegate Hypernovae is to create and maintain SLP enabled Desktop and Mobile wallets with legacy support for ARK based blockchains.
    <br> Delegate Hypernovae is dedicated to provide technical, financial and community support to projects such as <a href="https://barkers.io" target="_blank" style="font-weight:600">bARK</a> or any other community maintained SLP projects.</p>
<ul>
    <p style="font-weight:600">The forging rewards earned on the Ark Public Network will be distributed as following:
    </p>
    <li>Voters: 90%</li>
    <li>SLP Projects: 5.5%</li>
    <li>Operational Costs: 4%</li>
    <li>Reserve: 0.5%</li>
</ul>
<br>
<a href="#"><button>View Delegate Proposal</button></a>