<h1><span class="glcolor">Hypernovae</span> Desktop Wallet</h1>
<p>The Hypernovae Desktop Wallet is forked from the <a href="https://github.com/solar-network/wallet" target="_blank" style="font-weight:600">Solar Legacy Desktop Wallet</a> and is designed to provide continuous support for legacy networks that utilize the
    initial version of the
    <strong>Side Ledger Protocol</strong>.<br> More updates will follow in March 2022. </p>
<ul>
    <p style="font-weight:600">Release: March 2022</p>
</ul>
<br>
<a href="#"><button>Coming soon</button></a>