<h1><span class="glcolor">ARK</span>SLP Desktop Wallet</h1>
<p>ARK (SLP) Desktop Wallet is designed to provide continuous support for legacy networks that utilize the initial version of the
    <strong>Side Ledger Protocol</strong>. </p>
<br>
<a href="https://github.com/delegate-hypernovae/legacy-wallet/releases/tag/v2.9.6"><button>Download (Linux)</button></a>