<!DOCTYPE html>
<html lang="en">

{% include 'blocks/head.twig' %}


<body>
    <div id="background"></div>
    <div id="texture"></div>

    <div class="fullcontent">
        <div class="menuwrapper">

            <div class="mainmenu">

                <div class="menucenter">
                    <div class="logo-container">
                        <!-- ==========  Logo ========== -->
                        <img class="logo" alt="logotype" src="img/logo.png">
                        <!-- ==========  User's photo ========== -->
                        <img class="photo" alt="logotype" src="img/logo1.png">
                    </div>
                    <h3 class="mobile bcolor">
                        <a href="">Hypernovae</a>
                    </h3>
                    <div class="mobile">Delegate</div>
                </div>

                <div class="menu-items">

                    <a href="/about" class="menuitem">
                        <i class="icon-info"></i>
                        <div class="menu-title">About</div>
                    </a>

                    <a href="/delegate" class="menuitem">
                        <i class="icon-user"></i>
                        <div class="menu-title">Delegate</div>
                    </a>

                    <a href="/contributions" class="menuitem">
                        <i class="icon-heart"></i>
                        <div class="menu-title">Contributions</div>
                    </a>

                    <a href="/downloads" class="menuitem">
                        <i class="icon-download"></i>
                        <div class="menu-title">Downloads</div>
                    </a>

                </div>


                <div id="linecontainer" class="select-about">
                    <div class="linewrapper">
                        <div class="overwrapper">
                            <div class="colorlines large">
                                <div class="colorlines small"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page">

            <div class="loader">
                <div class="label glcolor">
                    <div class="spin"></div>
                    Loading, please wait...
                </div>
            </div>

            <div class="wrapper">
                <div class="table">
                    <div class="table-cell">
                        <div class="container">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>